
@font-face {
	font-family: 'BYekan';
	src: url('fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */ url('fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
	font-family: 'BKoodak';
	src: url('fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */ url('fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
	

  .box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */

		   -webkit-box-shadow: 0px 0px 4px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 4px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */

		  text-shadow: 1px 1px 3px #888;

	}

  .auto-style1
        {
            width: 100%;
            vertical-align:middle;
        }
  .auto-style2
        {
            font-family: 'BKoodak';
	        src: url('fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */ url('fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }
 
.btn {
  background: #a8d3b9;
  background-image: -webkit-linear-gradient(top, #d3eede, #87c6a0);
  background-image: -moz-linear-gradient(top, #d3eede, #87c6a0);
  background-image: -ms-linear-gradient(top, #d3eede, #87c6a0);
  background-image: -o-linear-gradient(top, #d3eede, #87c6a0);
  background-image: linear-gradient(to bottom, #d3eede, #87c6a0);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  padding: 5px 32px 5px 32px;
  text-decoration: none;
}

.btn:hover {
  background: #97c9e8;
  background-image: -webkit-linear-gradient(top, #def0e6, #4a9066);
  background-image: -moz-linear-gradient(top, #def0e6, #4a9066);
  background-image: -ms-linear-gradient(top, #def0e6, #4a9066);
  background-image: -o-linear-gradient(top, #def0e6, #4a9066);
  background-image: linear-gradient(to bottom, #def0e6, #4a9066);
  text-decoration: none;
}